<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="eth.bruises.sys.mapper.PermissionMapper">
    <!--保存对象-->
    <insert id="add" parameterType="Permission" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into t_permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
                                            <if test="name != null">
                            name,
                        </if>
                                            <if test="url != null">
                            url,
                        </if>
                                            <if test="descs != null">
                            descs,
                        </if>
                                            <if test="sn != null">
                            sn,
                        </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
                                            <if test="name != null">
#{name}                            ,
                        </if>
                                            <if test="url != null">
#{url}                            ,
                        </if>
                                            <if test="descs != null">
#{descs}                            ,
                        </if>
                                            <if test="sn != null">
#{sn}                            ,
                        </if>
        </trim>
    </insert>
    <!--删除对象-->
    <delete id="delete" parameterType="long">
        delete from t_permission where id = #{id}
    </delete>

    <!--更新对象-->
    <update id="update" parameterType="Permission">
        update t_permission
        <set>
                                            <if test="name != null">
                            name = #{name},
                        </if>
                                            <if test="url != null">
                            url = #{url},
                        </if>
                                            <if test="descs != null">
                            descs = #{descs},
                        </if>
                                            <if test="sn != null">
                            sn = #{sn}                        </if>
        </set>
        where id = #{id}
    </update>

    <select id="loadBySn" resultType="Permission">
        select * from t_permission where sn = #{sn}
    </select>

    <!--查找单个对象-->
    <select id="selectOne" resultMap="BaseResultMap" parameterType="long">
        select * from t_permission where id = #{id}
    </select>
    <!--查找所有对象-->
    <select id="selectAll" resultMap="BaseResultMap">
        select * from t_permission
    </select>
    <!--查询总数=参数（查询对象），返回值：long-->
    <select id="queryByCount" parameterType="PermissionQuery" resultType="integer">
        select count(*) from t_permission
        <include refid="whereSql"/>
    </select>
    <!--查询当前页数据=参数（查询对象），返回值:List-->
    <select id="queryByPage" parameterType="PermissionQuery" resultMap="BaseResultMap">
        select * from t_permission
        <include refid="whereSql"/>
        limit #{begin},#{pageSize}
    </select>

    <select id="loadByLogininfoId" resultType="java.lang.String">
        select tp.sn
        from t_permission tp
                 left join t_role_permission trp on tp.id = trp.permission_id
                 left join t_role tr on trp.role_id = tr.id
                 left join t_employee_role ter on tr.id = ter.role_id
                 left join t_employee te on ter.employee_id = te.id
        where te.logininfo_id = #{logininfoId}
    </select>


    <sql id="whereSql">
        <where>
            <if test="keyword!=null and keyword!=''">
                and (name like concat('%',#{keyword},'%'))
            </if>
        </where>
    </sql>

    <!--批量删除-->
    <delete id="batchDel" parameterType="arraylist">
        delete from t_permission where id in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="eth.bruises.sys.domain.Permission">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="url" property="url" />
        <result column="descs" property="descs" />
        <result column="sn" property="sn" />
    </resultMap>

</mapper>
