<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="eth.bruises.org.mapper.EmployeeMapper">
    <select id="selectAll" resultType="Employee">
        select *
        from t_Employee
    </select>

    <select id="selectOne" resultType="Employee">
        select *
        from t_Employee
        where id = #{id}
    </select>

    <insert id="add" parameterType="Employee" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into t_Employee (username, phone, email, salt, password, age, state, department_id, logininfo_id, shop_id)
        values (#{username}, #{phone}, #{email}, #{salt}, #{password}, #{age}, #{state}, #{departmentId}, #{logininfoId}, #{shopId})
    </insert>

    <update id="update">
        update t_Employee
        set username=#{username},
            phone=#{phone},
            email=#{email},
            salt=#{salt},
            password=#{password},
            age=#{age},
            state=#{state},
            department_id=#{departmentId},
            logininfo_id=#{logininfoId},
            shop_id=#{shopId}
        where id = #{id}
    </update>

    <delete id="delete">
        delete
        from t_Employee
        where id = #{id}
    </delete>

    <delete id="batchDel">
        delete from t_Employee where id in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <select id="queryByCount" resultType="Integer">
        select count(1)
        from t_Employee te
        <include refid="searchByCondition"></include>
    </select>

    <select id="queryByPage" resultMap="pageResultMap">
        select te.*
        from t_Employee te
        <include refid="searchByCondition"></include>
        order by te.id
        limit #{begin},#{pageSize}
    </select>
    <!--  通过手机号查找用户  -->
    <select id="findByPhone" resultType="eth.bruises.org.domain.Employee">
        select * from t_employee where phone = #{phone}
    </select>

    <resultMap id="pageResultMap" type="Employee">
        <id column="id" property="id"></id>
        <result column="username" property="username"></result>
        <result column="phone" property="phone"></result>
        <result column="email" property="email"></result>
        <result column="state" property="state"></result>
        <result column="salt" property="salt"></result>
        <result column="password" property="password"></result>
        <result column="age" property="age"></result>
        <result column="state" property="state"></result>
        <result column="department_id" property="departmentId"></result>
        <result column="logininfo_id" property="logininfoId"></result>
        <result column="shop_id" property="shopId"></result>
    </resultMap>
    
    <sql id="searchByCondition">
        <where>
            <if test="null != keyword and !''.equals(keyword.trim())">
                td.username like concat('%',#{keyword},'%')
            </if>
        </where>
    </sql>
</mapper>